img{
    height: 2rem;
}
.navbar{
    font-family: 'Montserrat' , sans-serif;
    font-size: 1rem;
}
body{
    font-family: 'Montserrat' , sans-serif;
}
/*body { margin: 0; padding: 0; }*/
/*#map { position: absolute; top: 0; bottom: 0; width: 100%; }*/
.card{
    /*width: ;*/
    margin-left: 18rem;
    margin-right: 18rem;
}